.container {
    width: fit-content;
    border: 0.3rem solid white;
    border-radius: 0.6rem;
    cursor: pointer;
    background-image: linear-gradient(to right bottom, #a8d8ea, #99cbec, #94bbec, #9baae6, #aa96da);
    transition: all 0.5s;

    &:hover {
        border: 0.3rem solid #A8D8EA;
        background-image: none;
    }
}